pkgbase = jdk8-temurin
	pkgdesc = Temurin (OpenJDK 8 Java binaries by Adoptium, formerly AdoptOpenJDK)
	pkgver = 8u432b06
	pkgrel = 1
	url = https://adoptium.net/
	install = install_jdk8-temurin.sh
	arch = x86_64
	license = custom
	depends = java-runtime-common>=3
	depends = java-environment-common
	depends = ca-certificates-utils
	depends = desktop-file-utils
	depends = libxrender
	depends = libxtst
	depends = alsa-lib
	provides = java-environment=8
	provides = java-runtime=8
	replaces = jdk8-adoptopenjdk
	options = !strip
	source = https://github.com/adoptium/temurin8-binaries/releases/download/jdk8u432-b06/OpenJDK8U-jdk_x64_linux_hotspot_8u432b06.tar.gz
	sha256sums = abaaa90deadf51bd28921453baf2992b3dff6171bb7142f5bdd14ef269f7b245

pkgname = jdk8-temurin
